.btn__weather {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn__weather:not(last-child) {
  margin-right: 5px;
}

.btn__icon {
  display: inline-flex;
  margin-left: 15px;
}
